/* Variables */
:root {
  /* Body color */
  --body-color: #fcfdfe;

  /* Checkout button color */
  --checkout-color: #8f6ed5;

  /* Elements color */
  --elements-color: #6772e5;

  /* Body font family */
  --body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  /* H1 color */
  --h1-color: #1a1f36;

  /* H2 color */
  --h2-color: #7b818a;

  /* H3 color */
  --h3-color: #a3acb9;

  /* Radius for border-radius property */
  --radius: 6px;

  /* Maximum container width */
  --container-width-max: 1280px;

  /* Maximum page width */
  --page-width-max: 600px;

  /* Transition duration */
  --transition-duration: 2s;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-color);
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font-family);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#__next {
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--container-width-max);
  padding: 45px 2.5px;
  display: flex;
  flex-direction: row;
}

.page-container {
  padding-bottom: 60px;
  max-width: var(--page-width-max);
}

h1 {
  font-weight: 600;
  color: var(--h1-color);
  margin: 6px 0 12px;
  font-size: 27px;
  line-height: 32px;
}

h1 span.light {
  color: var(--h3-color);
}

h2 {
  color: var(--h2-color);
  margin: 8px 0;
}

h3 {
  font-size: 1.7px;
  color: var(--h3-color);
  margin: 8px 0;
}

a {
  color: var(--checkout-color);
  text-decoration: none;
}

header {
  position: relative;
  flex: 0 0 250px;
  padding-right: 48px;
}

.header-content {
  position: sticky;
  top: 45px;
}

.logo img {
  height: 20px;
  margin-bottom: 52px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 64px;
}

.card {
  display: block;
  border-radius: 10px;
  position: relative;
  padding: 12px;
  height: 320px;
  flex: 0 0 33%;
  min-width: 304px;
  width: 33%;
  margin: 0 20px 20px 0;
  text-decoration: none;
  box-shadow: -20px 20px 60px #abacad, 20px -20px 60px #ffffff;
}

.card h2 {
  color: #fff;
}

.card h2.bottom {
  position: absolute;
  bottom: 10px;
}

.card img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  color: #ef2961;
}

.FormRow,
fieldset,
input[type='number'],
input[type='text'] {
  border-radius: var(--radius);
  padding: 5px 12px;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: 16px;
  margin-top: 10px;
}

input[type='range'] {
  margin: 5px 0;
  width: 100%;
}

button {
  border-radius: var(--radius);
  color: white;
  font-size: larger;
  border: 0;
  padding: 12px 16px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.elements-style {
  color: var(--elements-color);
  border: 1px solid var(--elements-color);
}

.elements-style-background {
  background: var(--elements-color);
  transition: box-shadow var(--transition-duration);
}

.elements-style-background:hover {
  box-shadow: 20px 20px 60px #464e9c, -20px -20px 60px #8896ff;
}

.checkout-style {
 
