/* Variables */
:root {
  /* Define global variables for the CSS, these can be used throughout the stylesheet */
  --body-color: #fcfdfe;
  --checkout-color: #8f6ed5;
  --elements-color: #6772e5;
  --body-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
  --h1-color: #1a1f36;
  --h2-color: #7b818a;
  --h3-color: #a3acb9;
  --radius: 6px;
  --container-width-max: 1280px;
  --page-width-max: 600px;
  --transition-duration: 2s;
}

body {
  /* Set the body margin, padding, background color, and enable scrolling */
  margin: 0;
  padding: 0;
  background: var(--body-color);
  overflow-y: scroll;
}

* {
  /* Set box-sizing, font-family, and disable tap highlight color for all elements */
  box-sizing: border-box;
  font-family: var(--body-font-family);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#__next {
  /* Center the content */
  display: flex;
  justify-content: center;
}

.container {
  /* Set the max-width for the container, padding, and display it as a flex row */
  max-width: var(--container-width-max);
  padding: 45px 25px;
  display: flex;
  flex-direction: row;
}

.page-container {
  /* Set padding-bottom and max-width for the page container */
  padding-bottom: 60px;
  max-width: var(--page-width-max);
}

h1 {
  /* Set font-weight, color, margin, font-size, and line-height for h1 elements */
  font-weight: 600;
  color: var(--h1-color);
  margin: 6px 0 12px;
  font-size: 27px;
  line-height: 32px;
}

h1 span.light {
  /* Set color for the span.light elements inside h1 elements */
  color: var(--h3-color);
}

h2 {
  /* Set color and margin for h2 elements */
  color: var(--h2-color);
  margin: 8px 0;
}

h3 {
  /* Set font-size, color, and margin for h3 elements */
  font-size: 17px;
  color: var(--h3-color);
  margin: 8px 0;
}

a {
  /* Set color and text-decoration for a elements */
  color: var(--checkout-color);
  text-decoration: none;
}

header {
  /* Set position, flex, padding-right, and position for header elements */
  position: relative;
  flex: 0 0 250px;
  padding-right: 48px;
}

.header-content {
  /* Set position, top, max-width, and position for header-content elements */
  position: sticky;
  top: 45px;
}

.logo img {
  /* Set height, margin-bottom, and width for logo images */
  height: 20px;
  margin-bottom: 52px;
}

ul,
li {
  /* Remove list-style, padding, and margin for ul and li elements */
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  /* Set display, flex-wrap, align-content, padding-top, and width for card-list elements */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 64px;
  width: 100%;
}

.card {
  /* Set display, border-radius, position, padding, height, flex, min-width, width, margin, text-decoration, and box-shadow for card elements */
  display: block;
  border-radius: 10px;
  position: relative;
  padding: 12px;
  height: 320px;
  flex: 0 0 33%;
  min-width: 304px;
  width: 33%;
  margin: 0 20px 20px 0;
  text-decoration: none;
  box-shadow: -20px 20px 60px #abacad, 20px -20px 60px #ffffff;
}
.card h2 {
  /* Set color for h2 elements inside card elements */
  color: #fff;
}
.card h2.bottom {
  /* Set position and bottom for h2.bottom elements inside card elements */
  position: absolute;
  bottom: 10px;
}

.card img {
  /* Set width, position, top, left, and transform for images inside card elements */
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  /* Set color for error-message elements */
  color: #ef2961;
}

.FormRow,
fieldset,
input[type='number'],
input[type='text'] {
  /* Set border-radius, padding, width, background, appearance, font-size, margin-top, and box-shadow for FormRow, fieldset, input[type='number'], and input[type='text'] elements */
  border-radius: var(--radius);
  padding
